:root {
  --primary: #38c7b9;
  --primary-warm: coral;
  --secondary: #008080;
  --secondary-warm: rgb(211, 63, 9);
  --blend: #00b4b4;
}

#__next {
  width: 100%;
}

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
}

.Page {
  font-size: 18px;
  display: flex;
  min-height: 75vh;
}

.Page .Container {
  margin: auto;
  width: 100%;
  max-width: 400px;
  backdrop-filter: blur(3px);
  border-radius: 10px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
}
